html,
body {
    padding: 0;
    margin: 0;
}

.intro {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 800px;
    height: 531px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100000;
}

.intro_Button {
    opacity: 1 !important;
    position: relative;
    top: 150px;
    left: 220px;
    width: 350px;
    height: 150px;
    background: #4C4C4C;
    border: none;
    cursor: pointer;
}

.intro_Button:hover {
   background: #636363;
}

.intro_Button h1 {
    font-size: 3em;
    color: #E2E2E2;
}

/* hide timeline background container */
.tl-timenav-slider-background{
 /*display: none !important;*/
}


/* header bar */

.header {
    background: #222222;
    width: 800px;
    height: 30px;
    font-family: sans-serif;
    position: absolute;
    color: #f1f1f1;
    z-index: 60;
}

.titles{
	float: left;
	margin-top: -15px;
}

.menu{
	float: right;
}

/* button for marker text */

.tl-timemarker-content-container {
    /* background: #ED5901 !important; */
}

.tl-timemarker.tl-timemarker-active .tl-timemarker-content-container {
    background: #ED5901 !important;
}

.tl-headline.tl-headline-fadeout {
    background: none !important;
}

.tl-headline.tl-headline-fadeout:after {
    background: none !important;
}

/* nav bar timeline */

.tl-timenav {
    background: #222222 !important;
}

/* buttons */
.btn{
	background: #D4001D;
	border: none;
	margin-right: 1px;
	color: #ffffff;
	display: inline;
	padding: 5px;
	cursor: pointer;
}

.btn:hover{
background: #ED5901;
}

/* Slide title */
.tl-medium .tl-text h2.tl-headline-title, .tl-medium .tl-text h2.tl-headline{
/* color: #1B1F4E !important; */
}
